<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 添加所有必要的权限 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".model.App"
        android:theme="@style/Theme.HourlyChime"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- 添加应用类别 -->
        <meta-data
            android:name="android.app.alarm"
            android:value="true" />

        <activity
            android:name=".BaseActivity" />

        <activity android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:alwaysRetainTaskState="true"
            android:directBootAware="true"
            android:lockTaskMode="always"
            android:persistableMode="persistRootOnly"
            android:priority="10000">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/str9" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/str12" />

        <!-- 前台服务 -->
        <service
            android:name=".model.services.TimeService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false"
            tools:ignore="ForegroundServicePermission"
            android:priority="10000"/>

        <service
            android:name=".model.services.KeepAliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <!-- 闹钟广播接收器 -->
        <receiver
            android:name=".model.tools.AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:priority="10000">
        </receiver>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>